:root {
  --body-font: Lora, sans-serif;
  --_colors---black: #252525;
  --h1: 3vw;
  --header-font: Lora, sans-serif;
  --line-height-1: 1;
  --_colors---redwood: #a00f24;
  --_colors---goldenrod: #fde09e;
  --_sizes---container: 85rem;
  --_sizes---container-max-90: 90%;
  --_colors---white: white;
  --_colors---cherry: #d0162c;
  --_colors---apricot: #f4dfbe;
  --shadow: #0003;
  --_sizes---100: 100%;
  --transparent: #fff0;
  --_colors---latte: #fffbe7;
  --_sizes---container-sm: 50rem;
  --_sizes---container-max-100: 100%;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  font-family: var(--body-font);
  font-size: 1rem;
  line-height: 1.7;
}

h1 {
  color: var(--_colors---black);
  font-size: var(--h1);
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-family: var(--header-font);
  font-size: 2.5rem;
  line-height: var(--line-height-1);
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 1.25rem;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 30px;
}

h4 {
  color: var(--_colors---redwood);
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.375rem;
  font-weight: 700;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: var(--_colors---goldenrod);
}

.wrapper--page {
  overflow: hidden;
}

.wrapper--main {
  width: var(--_sizes---container);
  max-width: var(--_sizes---container-max-90);
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}

.wrapper--main.hero {
  width: 85rem;
  padding-top: 0;
  padding-bottom: 0;
}

.text--small {
  font-size: .875rem;
}

.button {
  background-color: var(--_colors---redwood);
  color: var(--_colors---white);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 20rem;
  padding: .75rem 1.5rem;
  text-decoration: none;
  transition: background-color .2s;
}

.button:hover {
  background-color: var(--_colors---cherry);
}

.button.light {
  border: 1px solid var(--_colors---redwood);
  background-color: var(--_colors---apricot);
  color: var(--_colors---black);
}

.button.light:hover {
  background-color: var(--_colors---goldenrod);
}

.button.margin-right--1 {
  border: 1px solid var(--_colors---redwood);
}

.button.margin-top--1 {
  margin-top: 1rem;
}

.button.cherry {
  border: 1px solid var(--_colors---redwood);
  background-color: var(--_colors---cherry);
}

.button.cherry:hover {
  background-color: var(--_colors---redwood);
}

.wrapper--nav {
  background-color: var(--_colors---white);
  box-shadow: 0 2px 5px 0 var(--shadow);
  height: 10svh;
  min-height: 6rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
}

.link--logo {
  color: var(--_colors---black);
  justify-content: flex-start;
  align-items: center;
  width: 35rem;
  max-width: 50%;
  display: flex;
}

.link--logo.footer {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  display: block;
}

.container--full {
  width: var(--_sizes---100);
}

.container--full.nav {
  width: var(--_sizes---container);
  max-width: var(--_sizes---container-max-90);
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.image--logo {
  width: 2rem;
  height: 2rem;
  margin-left: .75rem;
}

.image--logo.footer {
  margin-bottom: 1rem;
}

.link--nav {
  border: 1px solid var(--transparent);
  color: var(--_colors---black);
  line-height: var(--line-height-1);
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 20rem;
  margin-left: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: border-color .2s;
  display: inline-block;
}

.link--nav:hover {
  border: 1px solid var(--_colors---apricot);
}

.text--logo {
  font-family: var(--header-font);
  color: var(--_colors---redwood);
  font-size: 3rem;
  line-height: var(--line-height-1);
}

.text--logo.reverse {
  color: var(--_colors---white);
  font-size: 1.5rem;
}

.wrapper--full {
  width: var(--_sizes---100);
  position: relative;
}

.wrapper--full.hero {
  aspect-ratio: 21 / 9;
  background-image: url('../images/beth.webp');
  background-position: 50%;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.wrapper--full.latte {
  background-color: var(--_colors---latte);
}

.wrapper--full.footer, .wrapper--full.dark {
  background-color: var(--_colors---black);
  color: var(--_colors---white);
}

.container--hero {
  width: 55%;
  max-height: 100%;
  position: relative;
}

.text--hero {
  width: 85%;
  margin-bottom: 5rem;
  font-size: 1.25vw;
}

.text--hero.tag {
  font-size: 2rem;
  line-height: var(--line-height-1);
  width: auto;
  margin-top: 4rem;
  margin-bottom: 0;
  font-weight: 700;
}

.container--flexh {
  display: flex;
}

.margin-right--2 {
  margin-right: 2rem;
}

.margin-right--1 {
  margin-right: 1rem;
}

.align--center {
  text-align: center;
}

.text--subhead {
  text-align: center;
  width: 65%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.375rem;
}

.grid--3col {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center;
  display: grid;
}

.grid--3col.gap--large {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.wrapper--card {
  width: var(--_sizes---100);
  transform-origin: 0 100%;
  padding: 4rem 5rem 2rem;
  position: relative;
}

.wrapper--card._65 {
  margin-left: auto;
  margin-right: auto;
}

.wrapper--card.bio {
  border-top: .25rem solid var(--_colors---redwood);
  background-color: var(--_colors---apricot);
  border-radius: .5rem;
  padding: 1rem 2rem;
}

.icon {
  vertical-align: middle;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  display: flex;
}

.wrapper--bio {
  text-align: center;
  padding: 1.5rem 1.5rem 2rem;
  position: relative;
}

.image--headshot {
  border: .25rem solid var(--_colors---apricot);
  background-color: var(--_colors---latte);
  background-image: linear-gradient(180deg, var(--_colors---latte), var(--_colors---apricot));
  box-shadow: 0 0 0 1rem var(--_colors---white);
  object-fit: cover;
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
}

.p--bio {
  margin-bottom: 2rem;
}

.wrapper--cta {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border: 1px solid var(--_colors---cherry);
  background-color: var(--_colors---goldenrod);
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 6.5rem;
  display: grid;
}

.container--cta {
  padding: 1.5rem 2rem;
}

.text--cta-head {
  font-size: 2rem;
  line-height: var(--line-height-1);
  margin-bottom: .75rem;
  font-weight: 700;
}

.container--button {
  text-align: center;
  margin-top: 4rem;
}

.container--footer {
  text-align: center;
}

.text--footer-head {
  color: var(--_colors---apricot);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.image--transition {
  width: 100%;
  height: 2rem;
  position: absolute;
}

.image--transition.flip {
  inset: auto 0% 0%;
  transform: rotate(180deg);
}

.link--social {
  color: var(--_colors---black);
  width: 2rem;
  height: 2rem;
  display: inline-block;
}

.margin-left--1 {
  margin-left: 1rem;
}

.container--bio-background {
  z-index: -1;
  border: .25rem solid var(--_colors---apricot);
  border-radius: 1rem;
  height: 70%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text--hero-tag {
  font-size: 1.75vw;
  line-height: var(--line-height-1);
  margin-bottom: 3rem;
}

.wrapper--form {
  width: 30rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--sm {
  width: var(--_sizes---container-sm);
  max-width: var(--_sizes---container-max-90);
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}

.wrapper--sm.hero {
  width: 85rem;
  padding-top: 0;
  padding-bottom: 0;
}

.form-field {
  color: var(--_colors---black);
  border-radius: .25rem;
  margin-bottom: 1rem;
}

.form-field:focus {
  border: 1px solid var(--_colors---redwood);
}

.logo {
  width: var(--_sizes---100);
}

.color--cherry {
  color: var(--_colors---cherry);
}

.tab--link {
  border: 1px solid var(--_colors---redwood);
  background-color: var(--_colors---white);
  color: var(--_colors---black);
  text-align: center;
  border-radius: .5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 1rem;
  transition: background-color .2s;
  display: flex;
}

.tab--link.w--current {
  background-color: var(--_colors---redwood);
  color: var(--_colors---white);
}

.tabs-menu {
  display: flex;
}

.tabs--container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tabs--container._3col {
  grid-template-columns: 1fr 1fr 1fr;
}

.text--tabs {
  font-size: 1.5rem;
}

.text--service-header {
  background-image: linear-gradient(90deg, var(--_colors---redwood), var(--_colors---cherry));
  text-align: center;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.text--service-header.margin-top--4rem {
  margin-top: 4rem;
}

.wrapper--links {
  padding-bottom: .5rem;
  position: absolute;
  inset: auto 0% 0%;
}

.success {
  background-color: var(--transparent);
  color: var(--_colors---goldenrod);
  padding: 0;
  font-size: 1.5rem;
}

.error {
  background-color: var(--_colors---cherry);
  text-align: center;
  border-radius: .5rem;
  width: 30rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.hide {
  display: none;
}

.color--redwood {
  color: var(--_colors---redwood);
}

@media screen and (max-width: 991px) {
  .wrapper--nav-menu {
    background-color: #0000;
  }

  .button--menu {
    padding: 12px;
  }

  .button--menu.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }
}

@media screen and (max-width: 767px) {
  .link--logo {
    padding-left: 0;
  }
}

#w-node-dc41b9da-fbb1-3e9e-722b-4d756fabb763-1e0b0a7a {
  place-self: center;
}

#w-node-_40375092-2254-cab0-fc33-6b25c0df86fe-1e0b0a7a, #w-node-bdbe2a8c-80c3-4d65-6097-8bb23395ff9d-1e0b0a7a, #w-node-_9b796600-ad8c-5556-344d-1e4f7ebf4f74-1e0b0a7a, #w-node-_2168bb38-3fff-277d-a2c5-46b8830e33d2-1e0b0a7a, #w-node-_50539984-6627-ae2d-1428-4b35fc917226-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6c96-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6c9a-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6c9e-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6ca2-1e0b0a7a {
  grid-area: span 2 / span 1 / span 2 / span 1;
  align-self: stretch;
}

#w-node-_577dd62c-5768-a43f-5db0-c42c21a85934-1e0b0a7a {
  place-self: center;
}

#w-node-_99bfd650-2864-7c0f-c63b-6fde77d14d99-1e0b0a7a, #w-node-e7b38aca-0d05-dcec-23a8-6e621bcf7b5a-1e0b0a7a, #w-node-_6d3da3d2-900f-58e8-9b43-41966a84ba24-1e0b0a7a, #w-node-_0bdc8125-e7e7-16ee-a3f4-3e037899ed64-1e0b0a7a, #w-node-d4cce360-5ba4-7e8a-5dc7-f89b52be9976-1e0b0a7a {
  align-self: stretch;
}

#w-node-d1c4e644-5eb6-22bb-7098-dd8d1300cd9d-1e0b0a7a {
  place-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-_40375092-2254-cab0-fc33-6b25c0df86fe-1e0b0a7a, #w-node-bdbe2a8c-80c3-4d65-6097-8bb23395ff9d-1e0b0a7a, #w-node-_9b796600-ad8c-5556-344d-1e4f7ebf4f74-1e0b0a7a, #w-node-_2168bb38-3fff-277d-a2c5-46b8830e33d2-1e0b0a7a, #w-node-_50539984-6627-ae2d-1428-4b35fc917226-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6c96-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6c9a-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6c9e-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6ca2-1e0b0a7a {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }
}


