@font-face {
  font-family: Itc Cheltenham;
  src: url('../fonts/ITC-Cheltenham-Bold.woff2') format("woff2"), url('../fonts/ITC-Cheltenham-Bold.eot') format("embedded-opentype"), url('../fonts/ITC-Cheltenham-Bold.woff') format("woff"), url('../fonts/ITC-Cheltenham-Bold.ttf') format("truetype"), url('../fonts/ITC-Cheltenham-Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --body-font: Lora, sans-serif;
  --header-font: "Itc Cheltenham", "Palatino Linotype", sans-serif;
  --line-height-1: 1;
  --_colors---redwood: #a00f24;
  --_colors---cherry: #d0162c;
  --_sizes---container: 85rem;
  --_sizes---container-max-90: 90%;
  --_colors---white: white;
  --_colors---apricot: #f4dfbe;
  --_colors---black: #252525;
  --_colors---goldenrod: #fde09e;
  --shadow: #0003;
  --_sizes---100: 100%;
  --transparent: #fff0;
  --_colors---latte: #fffbe7;
  --_sizes---container-sm: 50rem;
  --_sizes---container-max-100: 100%;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  font-family: var(--body-font);
  font-size: 1rem;
  line-height: 1.7;
}

h1 {
  font-family: var(--header-font);
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 3vw;
}

h2 {
  font-family: var(--body-font);
  font-size: 2.5rem;
  line-height: var(--line-height-1);
  letter-spacing: .5px;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

h4 {
  color: var(--_colors---redwood);
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.375rem;
  font-weight: 700;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: var(--_colors---redwood);
  transition: color .3s cubic-bezier(.215, .61, .355, 1);
}

a:hover {
  color: var(--_colors---cherry);
  text-decoration: none;
}

.wrapper--main {
  width: var(--_sizes---container);
  max-width: var(--_sizes---container-max-90);
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}

.wrapper--main.hero {
  width: 85rem;
  padding-top: 0;
  padding-bottom: 0;
}

.text--small {
  font-size: .875rem;
}

.button {
  background-color: var(--_colors---redwood);
  color: var(--_colors---white);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 20rem;
  padding: .75rem 1.5rem;
  text-decoration: none;
  transition: border .3s cubic-bezier(.215, .61, .355, 1), background-color 3s cubic-bezier(.215, .61, .355, 1);
}

.button:hover {
  background-color: var(--_colors---cherry);
}

.button.light {
  border: 1px solid var(--_colors---redwood);
  background-color: var(--_colors---apricot);
  color: var(--_colors---black);
}

.button.light:hover {
  border-color: var(--_colors---goldenrod);
  background-color: var(--_colors---goldenrod);
}

.button.margin-top--1 {
  margin-top: 1rem;
}

.button.cherry {
  border: 1px solid var(--_colors---redwood);
  background-color: var(--_colors---cherry);
}

.button.cherry:hover {
  background-color: var(--_colors---redwood);
  color: var(--_colors---white);
}

.button.hero {
  border: 1px solid var(--_colors---redwood);
  margin-right: 1rem;
}

.button.hero:hover {
  border-color: var(--_colors---cherry);
  color: var(--_colors---white);
}

.wrapper--nav {
  background-color: var(--_colors---white);
  box-shadow: 0 2px 5px 0 var(--shadow);
  min-height: 6rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  position: sticky;
  top: 0;
}

.link--logo {
  color: var(--_colors---black);
  justify-content: flex-start;
  align-items: center;
  width: 35rem;
  max-width: 50%;
  display: flex;
}

.link--logo.footer {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  display: block;
}

.container--full {
  width: var(--_sizes---100);
}

.container--full.nav {
  width: var(--_sizes---container);
  max-width: var(--_sizes---container-max-90);
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.link--nav {
  border: 1px solid var(--transparent);
  color: var(--_colors---black);
  line-height: var(--line-height-1);
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 20rem;
  margin-left: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: color .3s cubic-bezier(.215, .61, .355, 1), border-color .3s cubic-bezier(.215, .61, .355, 1);
  display: inline-block;
}

.link--nav:hover {
  border: 1px solid var(--_colors---apricot);
}

.wrapper--full {
  width: var(--_sizes---100);
  position: relative;
  overflow: hidden;
}

.wrapper--full.hero {
  aspect-ratio: 21 / 9;
  background-image: url('../images/beth.webp');
  background-position: 50%;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.wrapper--full.latte {
  background-color: var(--_colors---latte);
}

.wrapper--full.footer, .wrapper--full.dark {
  background-color: var(--_colors---black);
  color: var(--_colors---white);
}

.container--hero {
  width: 55%;
  max-height: 100%;
  position: relative;
}

.text--hero {
  width: 85%;
  margin-bottom: 5rem;
  font-size: 1.25vw;
}

.wrapper--hero-buttons {
  display: flex;
}

.margin-right--2 {
  margin-right: 2rem;
}

.margin-right--1 {
  margin-right: 1rem;
}

.align--center {
  text-align: center;
}

.text--subhead {
  text-align: center;
  width: 65%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.375rem;
  font-style: italic;
}

.grid--3col {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center;
  display: grid;
}

.grid--3col.gap--large {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.wrapper--card {
  width: var(--_sizes---100);
  transform-origin: 0 100%;
  border-radius: .5rem;
  padding: 2.5rem 5rem;
  position: relative;
}

.wrapper--card.bio {
  border-top: .25rem solid var(--_colors---redwood);
  background-color: var(--_colors---apricot);
  border-radius: .5rem;
  padding: 1rem 2rem;
}

.icon {
  vertical-align: middle;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  display: flex;
}

.wrapper--bio {
  text-align: center;
  padding: 1.5rem 1.5rem 2rem;
  position: relative;
}

.image--headshot {
  border: .25rem solid var(--_colors---apricot);
  background-color: var(--_colors---latte);
  background-image: linear-gradient(180deg, var(--_colors---latte), var(--_colors---apricot));
  box-shadow: 0 0 0 1rem var(--_colors---white);
  object-fit: cover;
  border-radius: 50%;
  width: 16rem;
  height: 16rem;
}

.p--bio {
  margin-bottom: 2rem;
}

.wrapper--cta {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border: 1px solid var(--_colors---cherry);
  background-color: var(--_colors---goldenrod);
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 6.5rem;
  display: grid;
}

.container--cta {
  padding: 1.5rem 2rem;
}

.text--cta-head {
  font-family: var(--header-font);
  font-size: 2rem;
  line-height: var(--line-height-1);
  margin-bottom: .75rem;
  font-weight: 700;
}

.container--button {
  text-align: center;
  margin-top: 4rem;
}

.container--footer {
  text-align: center;
}

.text--footer-head {
  color: var(--_colors---apricot);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.image--transition {
  width: 100%;
  height: 2rem;
  position: absolute;
}

.image--transition.flip {
  inset: auto 0% 0%;
  transform: rotate(180deg);
}

.link--social {
  color: var(--_colors---black);
  width: 2rem;
  height: 2rem;
  display: inline-block;
}

.margin-left--1 {
  margin-left: 1rem;
}

.container--bio-background {
  z-index: -1;
  border: .25rem solid var(--_colors---apricot);
  border-radius: 1rem;
  height: 70%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text--hero-tag {
  font-size: 1.75vw;
  line-height: var(--line-height-1);
  margin-bottom: 3rem;
}

.wrapper--form {
  width: 30rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.wrapper--sm {
  width: var(--_sizes---container-sm);
  max-width: var(--_sizes---container-max-90);
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
}

.form-field {
  color: var(--_colors---black);
  border-radius: .25rem;
  margin-bottom: 1rem;
}

.form-field:focus {
  border: 1px solid var(--_colors---redwood);
}

.logo {
  width: var(--_sizes---100);
}

.color--cherry {
  color: var(--_colors---cherry);
}

.tab--link {
  background-color: var(--_colors---redwood);
  color: var(--_colors---white);
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
  transition: background-color .3s cubic-bezier(.215, .61, .355, 1);
  display: flex;
}

.tab--link:hover {
  background-color: var(--_colors---cherry);
  color: var(--_colors---white);
}

.tab--link.w--current {
  border-bottom-color: var(--transparent);
  background-color: var(--_colors---white);
  color: var(--_colors---black);
}

.tabs--wrapper {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  background-color: var(--_colors---white);
  box-shadow: 0 2px 5px 0 var(--shadow);
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
  overflow: hidden;
}

.tabs--container {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 30rem;
}

.tabs--container.strategy {
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
}

.text--tabs {
  margin-bottom: 0;
  font-size: 1.375rem;
}

.text--service-header {
  background-image: linear-gradient(90deg, var(--_colors---redwood), var(--_colors---cherry));
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.text--service-header.margin-top--4rem {
  margin-top: 4rem;
}

.wrapper--links {
  padding-bottom: .5rem;
  position: absolute;
  inset: auto 0% 0%;
}

.success {
  background-color: var(--transparent);
  color: var(--_colors---goldenrod);
  padding: 0;
  font-size: 1.5rem;
}

.error {
  background-color: var(--_colors---cherry);
  text-align: center;
  border-radius: .5rem;
  width: 30rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.hide {
  display: none;
}

.color--redwood {
  color: var(--_colors---redwood);
}

.image {
  padding-bottom: .75rem;
}

.wrapper--testimonial {
  aspect-ratio: 2.39;
  background-color: #0000;
  max-width: 50rem;
  height: auto;
  margin: 4rem auto;
}

.wrapper--slide {
  margin-right: 2rem;
}

.container--slide {
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 1.5rem 3rem;
  display: flex;
}

.wrapper--slide-info {
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  margin-top: 1.5rem;
  display: flex;
}

.image--testimonial {
  border: 1px solid var(--_colors---cherry);
  background-color: var(--_colors---latte);
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  margin-right: 1rem;
  padding: .25rem;
}

.text--author {
  margin-bottom: .375rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.text--author-info {
  font-size: 12px;
  font-style: italic;
  line-height: 16px;
}

.wrapper--testimonial-icon {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.wrapper--slider-left {
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  display: flex;
  inset: auto 0% -30% -4rem;
}

.wrapper--slider-left:focus-visible, .wrapper--slider-left[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.slider-arrow {
  width: 100%;
}

.slider-arrow.flip {
  transform: rotate(180deg);
}

.wrapper--slider-right {
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  display: flex;
  inset: auto -4rem -30% 0%;
}

.wrapper--slider-right:focus-visible, .wrapper--slider-right[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.margin--0 {
  margin-bottom: 0;
}

.grid--team {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center;
  display: grid;
}

.grid--team.gap--large {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.tabs--content-container {
  width: 100%;
}

.wrapper--carousel {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12rem;
  display: flex;
  overflow: hidden;
}

.wrapper--carousel-list {
  backface-visibility: hidden;
  display: flex;
  transform: perspective(1px);
}

.container--carousel-list {
  grid-column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  min-width: 300vw;
  margin-right: 6rem;
  list-style-type: none;
  display: flex;
  overflow: hidden;
}

.container--carousel-logo {
  aspect-ratio: 16 / 9;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  display: flex;
}

.link--carousel-logo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  display: flex;
}

.img--carousel-logo {
  aspect-ratio: 2.39;
  object-fit: contain;
  width: 10rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
}

.img--carousel-logo.sm {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.slider--mask {
  overflow: visible;
}

.wrapper--carousel-logo {
  display: flex;
}

@media screen and (max-width: 991px) {
  h1 {
    margin-bottom: .25rem;
    font-size: 2rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  .wrapper--main.padding-bottom-mobile--0 {
    padding-bottom: 0;
  }

  .button.light.margin-left--1.w--current {
    width: 90%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .button.hero {
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .wrapper--nav-menu {
    background-color: var(--_colors---white);
    height: 50rem;
  }

  .button--menu {
    padding: 12px;
  }

  .button--menu.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .link--nav {
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .container--hero {
    width: 65%;
  }

  .text--hero {
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  .wrapper--hero-buttons {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .text--subhead {
    width: auto;
  }

  .wrapper--card {
    padding: 2rem;
  }

  .wrapper--cta {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    grid-template-columns: 1.5fr 1fr;
    display: block;
  }

  .text--cta-head {
    text-align: center;
    font-size: 1.75rem;
  }

  .p--cta {
    text-align: center;
  }

  .text--hero-tag {
    margin-bottom: 1rem;
    font-size: 1.375rem;
    line-height: 1.2;
  }

  .tab--link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .tabs--container {
    display: block;
  }

  .tabs--container.strategy {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 25rem;
  }

  .text--tabs {
    font-size: 1rem;
  }

  .grid--team {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
  }

  .heading {
    word-break: break-all;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    text-align: center;
    font-size: .75rem;
  }

  .button.light.margin-left--1.w--current {
    margin-top: .5rem;
  }

  .link--logo {
    padding-left: 0;
  }

  .link--logo.w--current {
    max-width: 85%;
  }

  .icon {
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .wrapper--form {
    max-width: 100%;
  }

  .tab--link {
    border-right: 1px solid var(--_colors---white);
    width: auto;
    padding: .5rem;
    display: block;
  }

  .tab--link.w--current {
    background-color: var(--_colors---apricot);
    width: auto;
  }

  .tabs--wrapper {
    flex-flow: column;
  }

  .tabs--container {
    width: auto;
    display: flex;
  }

  .tabs--container.strategy {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }

  .wrapper--testimonial {
    max-width: 100%;
    min-height: 20rem;
  }

  .wrapper--slide {
    max-width: 100%;
    margin-right: 0%;
  }

  .container--slide {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .wrapper--slide-info {
    margin-top: 4rem;
  }

  .img--carousel-logo {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

@media screen and (max-width: 479px) {
  h3 {
    font-size: 1rem;
  }

  .wrapper--main.testimonials {
    padding-bottom: 12rem;
  }

  .link--logo.w--current {
    width: 100%;
  }

  .container--full.nav {
    flex-flow: column;
  }

  .grid--3col {
    display: block;
  }

  .container--footer {
    margin-bottom: 2rem;
  }

  .tab--link {
    border-right-style: none;
  }

  .tabs--container {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    flex-flow: wrap;
    display: block;
  }

  .text--service-header {
    text-align: center;
  }

  .wrapper--testimonial {
    min-height: 40rem;
  }

  .wrapper--slide {
    max-width: 100%;
    margin-right: 0%;
  }

  .wrapper--slide-info {
    flex-flow: column;
  }

  .container--carousel-list {
    min-width: 600vw;
  }

  .img--carousel-logo {
    object-fit: contain;
  }
}

#w-node-dc41b9da-fbb1-3e9e-722b-4d756fabb763-1e0b0a7a {
  place-self: center;
}

#w-node-_11c33fa3-7a5b-f685-e6cd-84e16bfbe5e4-1e0b0a7a {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_40375092-2254-cab0-fc33-6b25c0df86fe-1e0b0a7a, #w-node-bdbe2a8c-80c3-4d65-6097-8bb23395ff9d-1e0b0a7a, #w-node-_9b796600-ad8c-5556-344d-1e4f7ebf4f74-1e0b0a7a, #w-node-_2168bb38-3fff-277d-a2c5-46b8830e33d2-1e0b0a7a, #w-node-_50539984-6627-ae2d-1428-4b35fc917226-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6c96-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6c9a-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6c9e-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6ca2-1e0b0a7a {
  grid-area: span 2 / span 1 / span 2 / span 1;
  align-self: stretch;
}

#w-node-_577dd62c-5768-a43f-5db0-c42c21a85934-1e0b0a7a {
  place-self: center;
}

#w-node-_99bfd650-2864-7c0f-c63b-6fde77d14d99-1e0b0a7a, #w-node-e7b38aca-0d05-dcec-23a8-6e621bcf7b5a-1e0b0a7a, #w-node-_6d3da3d2-900f-58e8-9b43-41966a84ba24-1e0b0a7a, #w-node-_0bdc8125-e7e7-16ee-a3f4-3e037899ed64-1e0b0a7a, #w-node-d4cce360-5ba4-7e8a-5dc7-f89b52be9976-1e0b0a7a {
  align-self: stretch;
}

#w-node-d1c4e644-5eb6-22bb-7098-dd8d1300cd9d-1e0b0a7a {
  place-self: center;
}

#w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca718-551c47e7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca72e-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca732-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca736-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca73a-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca73e-551c47e7 {
  grid-area: span 2 / span 1 / span 2 / span 1;
  align-self: stretch;
}

#w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca749-551c47e7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca757-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca75b-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca75f-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca763-551c47e7 {
  grid-area: span 2 / span 1 / span 2 / span 1;
  align-self: stretch;
}

@media screen and (max-width: 479px) {
  #w-node-_40375092-2254-cab0-fc33-6b25c0df86fe-1e0b0a7a, #w-node-bdbe2a8c-80c3-4d65-6097-8bb23395ff9d-1e0b0a7a, #w-node-_9b796600-ad8c-5556-344d-1e4f7ebf4f74-1e0b0a7a, #w-node-_2168bb38-3fff-277d-a2c5-46b8830e33d2-1e0b0a7a, #w-node-_50539984-6627-ae2d-1428-4b35fc917226-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6c96-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6c9a-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6c9e-1e0b0a7a, #w-node-_7975f923-cb5b-bbb6-3076-97c4d12d6ca2-1e0b0a7a, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca72e-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca732-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca736-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca73a-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca73e-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca757-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca75b-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca75f-551c47e7, #w-node-dfcaa45a-eb5f-dfe0-6d62-1c9d400ca763-551c47e7 {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }
}


@font-face {
  font-family: 'Itc Cheltenham';
  src: url('../fonts/ITC-Cheltenham-Bold.woff2') format('woff2'), url('../fonts/ITC-Cheltenham-Bold.eot') format('embedded-opentype'), url('../fonts/ITC-Cheltenham-Bold.woff') format('woff'), url('../fonts/ITC-Cheltenham-Bold.ttf') format('truetype'), url('../fonts/ITC-Cheltenham-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}